name: Docker

on:
  pull_request:
  push:
    branches: ['main']
    tags: ['v*']

concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref }}'
  cancel-in-progress: true

jobs:
  docker:
    permissions:
      contents: read
      packages: write
      security-events: write
    uses: USA-RedDragon/reusable-actions/.github/workflows/docker-ci.yaml@01dfa5b8bca8336ab047d196c367ef4cc9025432 # v1.3.1
    with:
      push: ${{ github.event_name != 'pull_request' }}
